#floor-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  font-size: 12px;
  position: relative;
  overflow-x: auto;
}

.floor {
  flex: 1 0 0px;
  border: 1px solid black;
  display: flex;
  align-items: end;
  column-gap: 20px;
}

.lift-button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: normal;
  width: 60px;
}

.lift-button {
  padding: 1px 2px;
  border: 1px solid red;
  font-size: 16px;
}

.floor-no {
  align-self: center;
  font-size: 24px;
}

.lift-container {
  display: flex;
  column-gap: 10px;
}

.lift {
  height: 60px;
  width: 40px;
  background-color: aquamarine;
  position: absolute;
  display: flex;
  overflow: hidden;
}

.lift-door {
  background-color: blue;
  flex: 1 1 0;
}


.go-back-link {
  position: fixed;
  right: 20px;
 top: 20px;
 font-size: 14px;
 border: 1px solid aquamarine;
 padding:  3px 6px;
 border-radius: 4px;
 background-color: aquamarine;
}